<% @orders.each do |order| %>
  <p><%= link_to "Order: #{order.id}", dashboard_order_path(order) %></p>
  <p>Order placed on: <%= order.created_at.to_s(:long) %></p>
  <p>Quantity of items in the order: <%= order.merchant_order_total(order) %></p>
  <p>Total value of items for the order: <%= order.merchant_order_total_price(order) %></p>
<% end %>
