/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:link { 
  color: white;
  text-decoration: none;
}
a:visited { 
  color: white;
}
a:hover { 
  color: yellow;
}
a:active { 
  color: white;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe866;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-bar li {
  float: left;
}

#nav-bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar li a:hover:not(.active) {
  background-color: gray;
  color: white;
}

@media screen and (max-width: 500px) {
  body > header {
    width: 100%;
    padding: 20px 0;
  }
}