/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
 
html.home {	
  background: url('https://c.pxhere.com/images/51/8b/d59973d306d923a47bb2ba9334bf-1455465.jpg!d') no-repeat center center fixed; 	
  -webkit-background-size: cover;	
  -moz-background-size: cover;	
  -o-background-size: cover;	
  background-size: cover;	
}

body {
  background-color: grey;
}

h2 {
  color: white;
  text-align: center;
  font-size: 25pt;
}

a:link { 
  color: white;
  text-decoration: none;
}
a:visited { 
  color: white;
}
a:hover { 
  color: yellow;
}
a:active { 
  color: white;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe866;
  position: absolute;
  top: 0;
  width: 100%;
}

#nav-bar li {
  float: left;
}

#nav-bar li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 30px 10px 10px;                          
  text-decoration: none;
}

#nav-bar li a:hover:not(.active) {
  background-color: #5F9EA0;
  color: white;
}

#logged-in-msg {
  display: flex;
  justify-content: center;
}

.new-user-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.submit-button {
  color: blue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#admin-merchants-index {
  text-align: center;
}

#admin-users-index {
  text-align: center;
}

@media screen and (max-width: 500px) {
  body > header {
    width: 100%;
    padding: 20px 0;
  }
}